.applyWrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    
    color: #000;
}
.applyWrapper.active{
    display: flex;
}

.applyContainer {
    width: 90%;
    max-width: 1059px;
    max-height: 960px;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.appTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 40px;
    background: var(--MAIN2, linear-gradient(171deg, #2581FF 6.69%, #1E4AFF 93.08%));
    border-radius: 20px 20px 0 0;
}
.appTop > button{
    cursor: pointer;
}
.appTop p {
    color: var(--wh, #FFF);
    font-family: var(--fn-suit);
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1px;
}
@media all and (max-width : 768px){
    .appTop {
        height: auto;
        padding: 10px 20px;
    }
    .appTop p {
        width: 225px;
        font-size: 16px;
        line-height: 140%;
    }

}

.appBottom {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    width: 100%;
    height: calc(100% - 60px);
    background-color: #fff;
    overflow-y: auto;
    border-radius: 0 0 20px 20px;
    padding: 26px 40px;
}
.wholeInputsWrapper{
    width: 100%;
}
.appTitle{
    margin-bottom: 12px;
    color: var(--bk, #000);
    font-family: var(--fn-suit);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 18px */
    letter-spacing: -0.9px;
}

@media all and (max-width : 768px){
    .appBottom {
        row-gap: 20px;
        padding: 16px 20px;
    }
    .appTitle{
        font-size: 16px;
    }

	.applyContainer {
	    max-height: 600px;
	}
}

.flexInputs{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}
.addInputs{
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 100%;
}
.addInputs.file{
    position: relative;
}
.addInputs input{
    width: calc(100% - 97px);
}
#deleteButton{
    position: absolute;
    right: 105px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.addInputs a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 34px;
    color: var(--600, #475569);
    font-size: 14px;
    font-weight: 500;
    line-height: 100%; /* 14px */
    border: 1px solid var(--200, #E2E8F0);
}
.flexInputs.file{
    position: relative;
    margin: 16px 0 0 0;
}
.fileName{
    display: flex;
    align-items: center;
    width: calc(100% - 97px);
    height: 40px;
    padding: 10px 20px;
    border: 1px solid var(--purple-grey-100, #DBDEE2);
    background: var(--wh, #FFF);
    color: var(--purple-500);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    margin: 12px 0;
}
#attach_file{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 89px;
    height: 34px;
    text-decoration-line: none;
    border: 1px solid var(--200, #E2E8F0);
    color: var(--600, #475569);
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    cursor: pointer;
}
.flexInputs.file > button{
    position: absolute;
    right: 110px;
    cursor: pointer;
}
.fileSub{
    color: var(--purple-400);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.7px;
}
.fileSub span{
    display: inline-block;
    margin: 0 3px;
}
.fileSub.add{
    margin-top: 12px;
}

.agreeModal{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
}
.agreeModal.active{
    display: flex;
}
.agreeInner{
    position: relative;
    max-width: 815px;
    max-height: 955px;
    width: 90%;
    height: 70%;
    padding: 40px 10px;
    background-color: #fff;
}
.agreeInner > button{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.agreeInner img{
    width: 100%;
}


/* container */
.inputContainer{
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    width: 100%;
    padding: 20px 0;
}

/* button */
.buttonContainer{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    width: 100%;
    padding: 20px 0;
}
.buttonContainer a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 56px;
    font-size: 14px;
    letter-spacing: -0.7px;
}
.buttonContainer a.wt{
    color: var(--purple-900);
    font-weight: 500;
    border: 1px solid var(--purple-100);
    background: var(--wh, #FFF);
}
.buttonContainer a.bl{
    color: var(--wh, #FFF);         
    font-weight: 700;
    background: linear-gradient(171deg, #2581FF 6.69%, #1E4AFF 93.08%);
}

@media all and (max-width : 1024px){
    .buttonContainer{
        padding: 0;
    }
}
/* inputs */
input{
    box-sizing: border-box;
    font-family: var(--fn-suit);
}
.inputCaption{
    margin-bottom: 8px;
    color: var(--purple-900);
    font-size: 18px;
    font-weight: 700;
    line-height: 100%; /* 18px */
    letter-spacing: -0.9px;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 24px 12px;
    color: #000;
    font-family:  var(--fn-suit);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    border: 0;
    border-bottom: 1px solid var(--purple-100);
    box-sizing: border-box;
}
input[type=text]::placeholder, input[type=password]::placeholder{
    color: var(--purple-500);
    font-family: var(--fn-suit);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
}
input[type=text]:focus, input[type=password]:focus{
    outline: 0;
    border-bottom: 1px solid var(--purple-500);
}

.inputBox.lg{
    width: calc(479.5px - 10px);
}
.inputBox.per{
    width: 100%;
}

@media all and (max-width : 1024px){
    input[type=text], input[type=password]{
        font-size: 14px;
    }
    input[type=text]::placeholder, input[type=password]::placeholder{
        font-size: 14px;
    }
    .inputCaption{
        font-size: 16px;
    }
}

.bindingText{
    display: block;
    width: 100%;
    padding: 24px 12px;
    color: #000;
    font-family:  var(--fn-suit);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    border: 0;
    border-bottom: 1px solid var(--purple-100);
    box-sizing: border-box;
}
.fileText{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    border: 1px solid var(--purple-grey-100, #DBDEE2);
    background: var(--wh, #FFF);
    font-size: 14px;
    margin: 20px 0 16px 0;
    font-weight: 500;
    line-height: 100%; /* 18px */
}
@media all and (max-width : 1024px){
    .bindingText{
        display: block;
        width: 100%;
        padding: 24px 12px;
        color: #000;
        font-family:  var(--fn-suit);
        font-size: 14px;
        font-weight: 500;
        line-height: 100%; /* 18px */
        border: 0;
        border-bottom: 1px solid var(--purple-100);
        box-sizing: border-box;
    }

}

/* date */
input[type="date"]{
    position: relative;
    width: 100%;
    padding: 24px 12px;
    color: #000;
    font-family:  var(--fn-suit);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%; /* 18px */
    border: 0;
    border-bottom: 1px solid var(--purple-100);
    box-sizing: border-box;
}
input[type="date"]:focus{
    outline: none;
    border-bottom: 1px solid var(--purple-500);
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
} 
input[type="date"]::-webkit-calendar-picker-indicator { 
    background: transparent;
    z-index: 1;
} 
input[type="date"]::after{
  position: absolute;
  top:50%;
  right:16px;
  content: '';
  width: 20px;
  height: 22px;
  background: url(/img/user_img/date.png) center center / 100%;
  transform: translateY(-50%);
  z-index: 0;
}
input[type="date"]:disabled{
  color: var(--purple-500) !important; 
  border-radius: 4px !important;
  border: 1px solid var(--purple-200) !important;
  background: var(--purple-200) !important;
}

/* radio */
label{
    cursor: pointer;
}

/* checkbox */
.checkContainer{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    width: 100%;
}
.checkInput{
    display: flex;
    align-items: center;
    column-gap: 6px;
    padding: 13px 0 13px 6px;
}
input[type=checkbox], input[type=radio] {
    display:none;
}
input[type=checkbox] + label, input[type=radio] + label { 
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: var(--purple-900);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 18px */
    letter-spacing: -0.9px;
    background-repeat: no-repeat;
    background-image: url('/img/user_img/uncheck.png');
    background-size: 22px;
    background-position: -5px -3px;
}
input[type=checkbox]:checked + label, input[type=radio]:checked + label {
    background-image: url('/img/user_img/checked.png');
}

.checkInputBox{
    display: flex;
    justify-content: center;
}
input.checkOnly[type="checkbox"] + label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-left: 28px;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
    text-decoration-line: underline;
    background-image: url('/img/user_img/uncheck-grey.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0;
}
input.checkOnly[type=checkbox]:checked + label {
    background-image: url('/img/user_img/checked-grey.png');
}


::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #666; 
}
::-webkit-scrollbar {
    width: 5px;
}
@media all and (max-width : 1024px){
    ::-webkit-scrollbar {
        display: none;
    }
}

#classify{
   	width: 300px;
    padding: 12px 8px;
    color: #000;
    font-family: var(--fn-suit);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    border: 0;
    border: 1px solid var(--purple-100);
    box-sizing: border-box;
}
#classify:focus{
	outline: none;
}