:root {
    --purple-50: #ECECED;
    --purple-100: #C4C3C6;
    --purple-200: #A8A6AA;
    --purple-300: #807E83;
    --purple-400: #68656B;
    --purple-500: #423E46;
    --purple-600: #3C3840;
    --purple-700: #2F2C32;
    --purple-800: #242227;
    --purple-900: #1C1A1D;
    --blue-50: #E9EDFF;
    --blue-100: #BBC8FF;
    --blue-200: #9BADFF;
    --blue-300: #6D88FF;
    --blue-400: #5171FF;
    --blue-500: #254DFF;
    --blue-600: #2246E8;
    --blue-700: #1A37B5;
    --blue-800: #142A8C;
    --blue-900: #10206B;
}
*{
	font-family: 'SUIT', sans-serif;
}
body{
    font-family: 'SUIT', sans-serif;
    color: #fff;
    background-color: #000;
}
body.no-scroll {
    overflow: hidden;
}

button{
    font-family: 'SUIT', sans-serif;
}

.blind {
    width: 0;
    height: 0;
    text-indent: -9999px;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

body.no-scroll {
    overflow: hidden;
}

.mb{
    display: none !important;
}
@media all and (max-width : 1024px){
    .pc{
        display: none !important;
    }
    .mb{
        display: flex !important;
    }
}
